body {
    margin: 0px;
    padding-top: 800px;
    text-align: center;
}

#welcome {
    width: 100%;
    height:90%;
    position: absolute;
    color: floralwhite;
    background: linear-gradient(#170061 0%, #deb0ff 100%);

    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0.83;
    z-index:1;
}

.profile {
    margin-top: 170px;
    width: 175px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.inner {
    position: relative;
    text-align: center;
    vertical-align: middle;
}

#bio {
    padding: 50px;
    text-align: center;
    line-height: 1.2;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder; 
    font-size:25px;
    max-width:450px;
}

.line {
    height:6px;
    width:200px;
    background-color:#1f0099;
    margin:8px auto;
}

.menu {
    list-style:none;
    position:absolute;
    top:0px;
    right:100px;
    cursor:pointer;
    z-index:20
}

.links {
    float:left;
    color:cornsilk;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
}

.links:hover {
    background-color:darkorchid;
}